beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
cssselect==1.0.3
Django==1.11
django-cors-headers==2.4.0
djangorestframework==3.9.0
google==2.0.1
goose3==3.1.5
gunicorn==19.7.1
html2text==2018.1.9
idna==2.7
jieba==0.39
lxml==4.2.4
nltk==3.3
Pillow==9.0.1
python-dateutil==2.7.3
pytz==2018.5
readability-lxml==0.7
requests==2.19.1
six==1.11.0
urllib3==1.23
lexrank==0.1.0
gensim==3.6.0
